src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
	<data-mapper:config name="map_to_csv" transformationGraphPath="map_to_csv.grf" doc:name="map_to_csv"/>
    <flow name="mainFlow" doc:name="mainFlow">
        <flow-ref name="gatherDataFlow" doc:name="Call gatherDataFlow" doc:description="Gathering information"/>
        <flow-ref name="aggregationFlow" doc:name="Call aggregationFlow"/>
        <flow-ref name="formatOutputFlow" doc:name="Call formatOutputFlow"/>
        <flow-ref name="outboundFlow" doc:name="Call outboundFlow"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <sub-flow name="gatherDataFlow" doc:name="gatherDataFlow">
        <enricher source="#[payload]" target="#[flowVars['leadsFromOrgA']]" doc:name="Store result from SalesforceA to leadsFromOrgA">
            <sfdc:query config-ref="SalesforceA" query="dsql:SELECT Email,Id,Name FROM Lead" doc:name="query all users from SalesForce instance A"/>
        </enricher>
        <enricher source="#[payload]" target="#[flowVars['leadsFromOrgB']]" doc:name="Store result from SalesforceB to leadsFromOrgB">
            <sfdc:query config-ref="SalesforceB" query="dsql:SELECT Email,Id,Name FROM Lead" doc:name="query all users from SalesForce instance B"/>
        </enricher>
    </sub-flow>
    <sub-flow name="aggregationFlow" doc:name="aggregationFlow">
        <custom-transformer class="org.mule.templates.transformers.SFDCLeadMerge" doc:name="Custom component to build merged contacts list"/>
    </sub-flow>
    <sub-flow name="formatOutputFlow" doc:name="formatOutputFlow">
        <custom-transformer class="org.mule.templates.transformers.SortLeadList" doc:name="Custom component to sort users list"/>
        <data-mapper:transform config-ref="map_to_csv" doc:name="Transform Collection of Maps to CSV Format"/>
        <object-to-string-transformer doc:name="CSV Output Object to String"/>
    </sub-flow>
    <sub-flow name="outboundFlow" doc:name="outboundFlow">
        <set-attachment attachmentName="${attachment.name}" value="#[message.payload]" contentType="text/plain" doc:name="Attach report to mail"/>
        <set-payload value="${mail.body}" doc:name="Set mail body"/>
        <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" to="${mail.to}" responseTimeout="10000" doc:name="Send mail" from="${mail.from}" subject="${mail.subject}"/>
    </sub-flow>

</mule>
